.text1, .text2, .text3{
    font-size: 20px;
    text-align: justify;
}
img{
    opacity: .8;
    transition: transform .3s ease-in-out;
}
img:hover{
    opacity: 1;
    transform:  scale(1.2);
    z-index: 1;
}